/* Version 1.4 */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font: 1.4rem "Courier Prime", monospace;
  font-weight: 400;
}

nav {
  height: 50px;
  width: 100%;
  background-color: #333;
  position: relative;
  font-weight: 400;
}

nav > .header {
  display: inline;
}

nav > .header > .title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 12px 10px 12px 20px;
}

nav > .header > .title > a {
  text-decoration: none;
  color: #efefef;
}

nav > .nav-btn {
  display: none;
}

nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

nav > .nav-links > a {
  display: inline-block;
  padding: 15px 12px;
  text-decoration: none;
  color: #efefef;
  margin: 0 -11px 0 0;
}

nav > .nav-links > a:last-child {
  display: inline-block;
  padding: 15px 12px;
  text-decoration: none;
  color: #efefef;
  margin: 0;
}

nav > .nav-links > a:hover {
  background-color: #56e348;
}

nav > #nav-check {
  display: none;
}

h2 {
  margin: 0 0 24px 0;
}

h3 {
  margin-bottom: 27px;
}

p {
  margin-bottom: 25px;
}

a {
  color:darkblue;
  text-decoration:none;
}

a:hover {
  color: red;
}

img {
  border:none;
  vertical-align: middle;
  margin-right: 5px;
}

.nav-link--selected {
  background-color: #1bb00d !important;
}

.container--main {
  padding: 6%;
}

.container--auto {
  width: auto;
}

.container--half-width {
  width: 46%;
  margin: 0 2%;
}

.container--fit-content {
  width: fit-content;
  margin: 0 2%;
}

.container--max-width {
  width: 96%;
  margin: 0 2%;
}

.container--max-width + .container--max-width {
  margin-top: 45px;
}

.container--padding {
  height: 100px;
}

.container--center {
  margin: 0 auto;
}

.container--float {
  float:left;
}

.container--clear {
  clear: both;
}

.image--small {
  height: 40px;
  width: 40px;
}

.text--large {
  font-size: 120%;
}

.text--bold {
  font-weight: 700;
}

@media (max-width:600px) {
  nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  nav > .nav-btn > label:hover, nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #1bb00d;
  }

  nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .container--half-width {
    width: 96%;
    margin: 0 2%;
  }

  .container--float {
    float: none;
  }
}
