/* Set background colour */
body { background-color:#6666ff }

/* Style, pad and margin main divs */
header, section {
background-color:#ffffff;
background-image:linear-gradient(bottom, #888888, #ffffff);
background-image:-webkit-linear-gradient(bottom, #888888, #ffffff);
background-image:-ms-linear-gradient(bottom, #888888, #ffffff);
box-shadow:10px 10px 10px #454545;
border-radius:20px;
padding:20px;
margin:20px;
}

/* Style links */
a {
font-variant:small-caps;
text-decoration:none;
color:black;
}

/* Set min height for content and ensure it expands to fit */
.content {
min-height:60%;
height:auto;
}

/* Position and margin splash divs and centre text */
.splash {
position:relative;
top:100px;
min-height:20%;
margin:0 auto;
width:300px;
text-align:center;
}

.splash h1 {
font-variant:small-caps;
}

/* Style max length warnings */
.maxlength {
margin:0px;
font-size:10px;
}

/* Make selected elements invisible */
#cross,.invis { display:none; }

/* Position and style message divs */
.popup {
display:none;
background-color:#aaaaff;
position:absolute;
top:50%;
left:50%;
margin-top:-170px;
margin-left:-220px; 
height:300px;
width:400px;
}

/* No margins on popup heading */
.popup h4 {
margin:0;
}

header h1 {
font-variant:small-caps;
text-shadow:5px 5px 5px #666666;
}

/* Float right class */
.floatr {
float:right;
}

/* Bold text class */
.bold { font-weight:bold; }

/* Style usernames on individual messages */
.usernames {
font-style:italic;
}